.container {
  position: relative;
  z-index: 1000;

  width: 100%;
  display: flex;
  align-items: center;
}

.device {
  clip-path: circle(0% at 50% 40%);

  transition: all .6s ease-in-out;
}

.checkbox {
  display: none;
}

.container:has(:checked) .device {
  clip-path: circle(120%);
}

.container:has(:checked) .circle {
  scale: 1;
}

.circle {
  position: absolute;
  top: 15%;
  left: 0;

  width: 100%;

  scale: .7;

  cursor: pointer;
  transition: all .2s ease-in-out;
}

.circle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  border-radius: 100%;

  border: 6px solid transparent;
}

.container:not(:has(:checked)) .circle:hover::after {
  border-color: var(--color-gray);
  animation: grow 1.2s linear infinite;
}

@keyframes grow {

  0% {
    opacity: 0;
    scale: .8;
  }

  15% {
    opacity: 1;
  }

  100% {
    scale: 1.1;
    opacity: 0;
  }
}